
/*Index*/
main {
    .fura {
        display: flex;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        img {
            height: 170%;
            opacity: 0.5;
        }
        p {
            @include caja(map-get($colores, amarillo));
            padding: 1rem;
            position: absolute;
            width: 30%;
            bottom: 10vw;
            right: 10vw;
        }
    }
}