
/*Index*/
main {
    .fura {
        display: flex;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        .img {
            height: 100%;
            width: 100%;
            background: url('../img/fura-escoba.png') center no-repeat;
            background-size: cover;
            opacity: 0.5;
        }
        p {
            @include caja(map-get($colores, amarillo));
            padding: 1rem;
            position: absolute;
            width: 30%;
            bottom: 10vw;
            right: 10vw;
        }
    }
}