/*Portafolio*/

main#portafolio {
    .portafolio {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 10% 10% 10% 10% 23%;
        grid-gap: 1%;
        height: 100vh;

        h1 {
            grid-column: 1 / 2;
            grid-row: 2;
            margin-left: 2rem;
        }

        .izquierda {
            grid-column: 1 / 2;
            @include caja(map-get($colores, amarillo));
            padding: 0 10%;
            display: flex;
            align-items: center;
            margin-left: 3rem;

            h2 {
                height: 1.2rem;  
            }
        }

        .uno {
            grid-row: 3;

            &:hover ~ .derecha div:nth-child(1){
                opacity: 1;
            }
        }

        .dos {
            grid-row: 4;
            &:hover ~ .derecha div:nth-child(2){
                opacity: 1;
            }
        }

        .tres {
            grid-row: 5;
            &:hover ~ .derecha div:nth-child(3){
                opacity: 1;
            }
        }

        .derecha {
            height: 100vh;
            grid-column: 2;
            overflow: hidden;
            grid-row: 1;

            > div {
                width: 100%;
                height: 100%;
            }
            
            div:nth-child(1) {
                background: url('../img/dibujos/portafolio-1.png')90% 0 no-repeat;
                background-size: cover;
                position: relative;
                opacity: 0;
            }
            div:nth-child(2) {
                background: url('../img/dibujos/portafolio-2.png')50% no-repeat;
                position: relative;
                background-size: cover;
                opacity: 0;
                top: -100%;
            }
            
            div:nth-child(3) {
                background: url('../img/dibujos/portafolio-3.png')50% no-repeat;
                position: relative;
                background-size: cover;
                opacity: 0;
                top: -200%;
            }
        }       
    }
}

/* Servicios */