/*Servicios*/

main#servicios {
    .servicios {
        display: grid;
        grid-template-columns: 2% 25% 25% 48%;
        grid-template-rows: 10% 5% 18% 18% 18% 6%;
        grid-gap: 1%;
        height: 100vh;

        h1 {
            grid-column: 2 / 3;
            grid-row: 2;
            margin-left: 2rem;
        }

        .izquierda {
            @include caja(map-get($colores, amarillo));
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div:first-child {
                h2 { 
                    background-color: map-get($colores, amarillo);
                    color: map-get($colores, violeta-oscuro);
                    padding: 1%;
                    text-align: center;
                }
    
                p {
                    padding: 1% 2%;
                }
            }

            div:last-child {
                width: 100%;
                border-top: 2px solid map-get($colores, amarillo);
                text-align: center;
                padding: 1% 0;

            }
        }

        .uno, .tres, .cinco {
            grid-column: 2;
        }

        .dos, .cuatro, .seis {
            grid-column: 3;
        }

        .uno {
            grid-row: 3;

            &:hover ~ .derecha div:nth-child(1){
                opacity: 1;
            }
        }

        .dos {
            grid-row: 3;
            &:hover ~ .derecha div:nth-child(2){
                opacity: 1;
            }
        }

        .tres {
            grid-row: 4;
            &:hover ~ .derecha div:nth-child(3){
                opacity: 1;
            }
        }

        .cuatro {
            grid-row: 4;
            &:hover ~ .derecha div:nth-child(4){
                opacity: 1;
            }
        }

        .cinco {
            grid-row: 5;
            &:hover ~ .derecha div:nth-child(5){
                opacity: 1;
            }

        }

        .seis {
            grid-row: 5;
            &:hover ~ .derecha div:nth-child(6){
                opacity: 1;
            }

        }

        .siete {
            grid-row: 6;
            grid-column: 2 / 4;
            @include vgen();
        }

        .derecha {
            height: 100vh;
            grid-column: 4;
            overflow: hidden;
            grid-row: 1;

            > div {
                width: 100%;
                height: 100%;
            }
            
            div:nth-child(1) {
                background: url('../img/dibujos/servicios-1.png')50% no-repeat;
                background-size: cover;
                position: relative;
                opacity: 0;
            }
            div:nth-child(2) {
                background: url('../img/dibujos/servicios-2.png')50% 0 no-repeat;
                background-size: cover;
                position: relative;
                opacity: 0;
                top: -100%;
            }
            
            div:nth-child(3) {
                background: url('../img/dibujos/servicios-3.gif')50% 0 no-repeat;
                background-size: cover;
                position: relative;
                opacity: 0;
                top: -200%;
            }

            div:nth-child(4) {
                background: url('../img/dibujos/servicios-4.png')50% no-repeat;
                background-size: cover;
                position: relative;
                opacity: 0;
                top: -300%;
            }
            div:nth-child(5) {
                background: url('../img/dibujos/servicios-5.png')90% 0 no-repeat;
                background-size: cover;
                position: relative;
                opacity: 0;
                top: -400%;
            }
            
            div:nth-child(6) {
                background: url('../img/dibujos/servicios-6.png')50% 0 no-repeat;
                background-size: cover;
                position: relative;
                opacity: 0;
                top: -500%;
            }
        }       
    }
}

/* Servicios */