@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$nunito: 'Nunito Sans', sans-serif;
$display: 'Playfair Display', serif;
$colores: ("violeta": rgb(175, 165, 215), "violeta-medio": #9588a6, "violeta-oscuro": #6d5d82, "amarillo": rgb(255,230,180), "verde": #B4CDC3);

@mixin vgen() {

    &:hover, &:active {
        div {
            @include caja(map-get($colores, violeta-oscuro));
            background-color: map-get($colores, verde);
            p {
                color: map-get($colores, violeta-oscuro)!important;
                &::before {
                    transition: 0.5s;
                    background: url(../img/iconos-violeta/vgen.svg) 100% center no-repeat;
                }
            }
        }
    }
    div {
        height: 1rem;
        @include caja(map-get($colores, amarillo));
        text-transform: uppercase;
        padding: 10px;
        overflow: hidden;
    
        p {
            height: 1rem;
            position: relative;
            top: -20px;
            font-weight: 700;
            font-size: 1rem;
            padding: 0;
    
            &::before {
                background: url(../img/iconos-amarillos/vgen.svg) 100% center no-repeat;
                width: 20%;
                height: 2rem;
                position: relative;
                top:10px;
                display: inline-block;
                content: " ";
                margin-right: 10px;
                transition: 0.5s;
            }
        }

    }
}

@mixin caja($color) {
    border: 2px solid $color;
    background: map-get($colores, violeta-oscuro);
    color: $color;
}

@mixin fondo() {
    background: map-get($colores, violeta);
}

@mixin enlace-indice() {
    width: 3vw;
    height: 3vw;
    @include caja(map-get($colores, amarillo));
    border-radius: 50%;
    padding: 5px;
    margin: 1vh 0;

    &:hover {
        border: 2px solid map-get($colores, violeta-medio);
        background-color: map-get($colores, violeta);
    }
}

@mixin division() {
    background: map-get($colores, amarillo);
    height: 2px;
    width: 90%;
    margin: 5%;
}

@mixin formulario() {
    form {
        display: flex;
        flex-direction: column;
        max-height: 40vh;
        label {
            font-family: $display;
        }

        input, textarea {
            border: 2px solid map-get($colores, amarillo);
            background-color: map-get($colores, violeta-oscuro);
            color: map-get($colores, amarillo);
            padding: 0.3rem;
            margin: 0.2rem;
            font-family: $nunito;
            width: 60%;
            &:last-child {
                width: 50%;
                text-align: center;
            }
            &:last-child:hover {
                background-color: map-get($colores, verde);
                border: 2px solid map-get($colores, violeta-oscuro);
                color: map-get($colores, violeta-oscuro);
            }
        }
    }
}
